
  <% layout("/layouts/boilerplate") %>
  <body>
      <h1 class="jury-title">JURY PAGE</h1>
      <div class="jury-container">
          <% for (let jd of jury) { %>
          <div class="j-part1">
              <div class="jcard">
                  <div class="jheader">
                      <img src="<%= jd.img %>" class="jimg" alt="jury_image">
                      <h5><%= jd.name %></h5>
                      <p class="j-subtitle"><%= jd.position %></p>
                      <p class="j-company-name"><%= jd.companyName %></p>
                  </div>
                  <hr>
                  <p class="j-subtitle"><%= jd.juryDesc %></p>
                  <div class="j-buttons">
                      <button class="profile-btn">
                          <span class="badge linkedin">
                              <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="LinkedIn" />
                          </span>
                          <a class="linkedin-link" target="_blank" href="<%= jd.linkedin %>">View Profile</a>
                      </button>
                  </div>
              </div>
          </div>
          <% } %>
      </div>
  </body>
>